# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Eclipse Files
.cproject
.project 

# Epos files
epos/img/
epos/img/*.img
epos/img/*.out
epos/src/boot/pc_boot
epos/src/boot/pc_boot.s
epos/src/setup/pc_setup
epos/include/system/config.h
epos/bin/eposcc
*.conf
